<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <strong>クレジットカード情報をherokuに登録していないため、ユーザー認証のシステムのメーラー機能をheroku上で使えず、新規登録はできません。開発環境では新規登録できます。</strong>
    <%= render 'form' %>
  </div>
</div>
